body {
    font-family: Arial, Meiryo, sans-serif;
    text-align: center;
}

html {
    font-size: 20px;
}

body h1 {
    font-family: Josefin Sans, sans-serif;
    letter-spacing: 1.2em;
    border-bottom: 3px solid rgb(115, 115, 114);
    font-size: 2rem;
    text-shadow: 4px 4px 4px gray;
}

.blue {
    color: skyblue;
}

.pink{
    color: rgb(255, 192, 203) ;
}

body h2 .pink {
    color: rgb(255, 192, 203) ;
}

body h2 .blue{
    color: skyblue;
}

#basic p {
    font-weight: bold;
}

